@import '_variables.scss';
@import '_shipPlacer';
@import '_results';
@import '_welcome';


#root {
    height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', Calibri;
    background-color: black;
}

.main-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(50, 50, 50), black);
}

.fade-in {
    animation: fade-in 1s ease-in-out both;
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* -------------------------------------------------------------- */


.player-board,
.enemy-board {
    display: grid;
    grid-template-columns: repeat(11, auto);
    max-width: 50%;
    width: 29.8vw;
    aspect-ratio: 1/1;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(172, 172, 172);
    box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.8) inset;
}

.square:hover {
    box-shadow: inset 0px 0px 12px 3px rgb(172, 172, 172);
}

.player-ship {
    box-shadow: inset 0px 0px 12px 3px rgb(172, 172, 172);
    color: rgb(172, 172, 172);
    font-size: 1.5vw;
}

.enemy-square {
    cursor: url("./assets/crosshair.svg") 25 25, crosshair;
}

.grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.68vw;
    width: 2.66vw;
    color: rgb(172, 172, 172);
    font-size: 1vw;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.8);
}


/* -------------------------------------------------------------- */


.sidebar {
    width: 16%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.player-sidebar {
    border-right: 2px solid $UIColor;
    box-shadow: 6px 0px 20px 7px rgba(0, 0, 0, 0.75);
}

.enemy-sidebar {
    border-left: 2px solid $UIColor;
    box-shadow: -6px 0px 20px 7px rgba(0, 0, 0, 0.75);
}


.sidebar-header {
    text-align: center;
    font-size: 2.5vw;
    color: white;
    text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    width: 95%;
    overflow: hidden;
}


.ship-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2vw;
}

.ship-name {
    font-size: 1vw;
    color: white;
    margin: 5px;
}

.Aircraft-Carrier {
    width: 12.5vw;
}

.Battleship {
    width: 11.5vw;
}

.Destroyer {
    width: 11vw;
}

.Submarine {
    width: 8.5vw;
}

.Boat {
    width: 7.5vw;
}

.ship-health {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* ---------------------------------------------------- */


.game-title {
    position: absolute;
    top: 3%;
    left: 50%;
    color: white;
    font-size: 3.2vw;
    transform: translateX(-50%);
    text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.8);
}


.comments {
    position: absolute;
    bottom: 4.5vw;
    color: white;
    font-size: 1.1vw;
    left: 50%;
    transform: translateX(-50%);
}


/* ---------------------------------------------------- */


.ship-health {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hit {
    width: 0.65vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(230, 0, 0);
    margin: 3px 10px;
}

.no-hit {
    width: 0.65vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    margin: 3px 10px;
}

.shot {
    color: rgb(230, 0, 0);
    font-size: 1.5vw;
    border-color: rgb(230, 0, 0);
    box-shadow: inset 0px 0px 12px 3px rgb(230, 0, 0);
}

.shot:hover {
    box-shadow: inset 0px 0px 12px 3px rgb(230, 0, 0);
}

.missed-shot {
    border-color: rgb(0, 153, 255);
    box-shadow: inset 0px 0px 12px 3px rgb(0, 153, 255);
}

.missed-shot:hover {
    box-shadow: inset 0px 0px 12px 3px rgb(0, 153, 255);
}

.explosion {
    width: 1px;
    height: 1px;
    z-index: 3;
    animation: explosion 1s ease-out forwards;
}

@keyframes explosion {

    0% {
        box-shadow: 0px 0px 0px 0px red;
        opacity: 1;
    }

    50% {
        opacity: 0.65;
    }

    100% {
        box-shadow: 0px 0px 120px 90px red;
        opacity: 0;
    }
}

.shake {
    animation: shake 0.6s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(0, -2px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 3px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -5px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 5px, 0);
    }
}

.splash {
    width: 2.56vw;
    height: 2.56vw;
    border: 2px solid steelblue;
    box-shadow: 0px 0px 10px 5px rgb(0, 153, 255) inset;
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    animation: ripple-animation 1.9s ease-out;
}

.splash-effect1 {
    animation-delay: 0s;
}

.splash-effect2 {
    animation-delay: 300ms;
}


@keyframes ripple-animation {

    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}